/* Config */

// font sizes
$base-font-size : 1.4rem !default; // ex. 1.4rem would be "14px" equivalent
$line-height    : 1.5 !default; // equiv line-height 1.5
$h1-size        : 5rem !default; // equiv "50px"
$h2-size        : 2.6rem !default; // equiv "26px"
$h3-size        : 2.4rem !default; // equiv "24px"
$h4-size        : 2.0rem !default; // equiv "20px"
$h5-size        : 1.8rem !default; // equiv "18px"
$h6-size        : 1.6rem !default; // equiv "16px"
$p-size        : 1.3rem !default; // equiv "13px"
$nav-size       : 1.6rem !default;
$lang-size       : 1.2rem !default;
$categ-size       : 2.2rem !default;

// font colors
$base-color             : #000 !default; // text color on body and content
$primary-color          : #00baf2 !default; // text color on primary elements

